:root{
    --Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue: hsl(207, 26%, 17%);
--Very-Dark-Blue-Light: hsl(200, 15%, 8%);
--Dark-Gray-Light: hsl(0, 0%, 52%);
--Very-Light-Gray-Light: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%)
}
body{
    font-size:14px;
    background-color: var(--Very-Light-Gray-Light);
    color:var(--Dark-Blue);
    margin:0;
}
.dark-mode{
    border:none;
    background-image: url('assets\\moon-solid.svg');
    background-repeat:no-repeat;
    text-indent:12px;
    background-color:white;
    background-position:0.2rem center;
    background-size:10px;
    
}
.dark-mode svg{
    width:10px;
    /* vertical-align:middle; */
}
header{
    display:flex;
    justify-content:space-between;
    padding:20px 50px ;
    background-color:var(--White);
}
header span{
    font-weight:800;
    font-size:18px;
}
.search{
    display:flex;
    justify-content:space-between;
    margin:50px;
}
.search select{
    border:none;
    width:200px;
    padding:5px;
}
option{
    padding:15px;
}
img{
    min-width:100%;
    min-height:180px;
    border-radius:10px 10px 0 0;
}
.card{
    display:flex;
    flex-direction:column;
    background-color:var(--White);
    width:18rem;
    font-size:18px;
    border-radius:10px;
    line-height:1.5;
}
.card .name{
    font-size:22px;
    margin:20px;
}
.card span{
    margin:0 20px;
}
.card span:last-child{
    margin-bottom:20px;
}
.container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    gap:50px 20px;
    margin:25px 50px;
}
input{
    width:500px;
    padding:10px;
    background-image: url('assets\\magnifying-glass-solid.svg');
    background-repeat:no-repeat;
    background-position:10px center;
    background-size:14px;
    
    border:none;
    text-indent:20px
}

.dark{
    background-color:var(--Very-Dark-Blue);
    color:var(--White);
}
.dark-input{
    background-color:var(--Dark-Blue);
    color:white;
}